.calculator {
  max-width: 550px;
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
}

.calculator__screen {
  width: 100%;
  padding: min(2rem, 8vw);
  border-radius: min(1rem, 4vw);
  background-color: var(--screen-background);
  
  text-align: right;
}

.calculator__result {
  font-family: 'Spartan', sans-serif;
  font-size: min(2.5rem, 10vw);
  color: var(--main-text-color);

  padding: min(.5rem, 2vw) 0;
  overflow-x: auto;
}
